extends layout

block content
  h1= title
  p Welcome to #{title}
  <a href="/auth/facebook" style="color: blue;">Login with Facebook</a>
  <a href="/auth/linkedin" style="color: blue;">Login with LinkedIn</a>
