extends layout

block content
  h1= title
  p Welcome to #{title}
  p <a href="/auth/facebook" style="color: blue;">Login with Facebook</a>
  p <a href="/auth/linkedin" style="color: blue;">Login with LinkedIn</a>
  p <a href="/auth/github" style="color: blue;">Login with GitHub</a>
